<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <th:block th:include="/_menu"></th:block>

</head>

<body>

<div class="container">

    <h2><span th:utext="${message}"></span></h2>

    <form class="aForm" th:action="@{/add}" th:object="${collection}" method="POST">
        <div>
            <h1 id="errorMsg" style="color: red; display: none;">Please check your input</h1>
        </div>
        <table>
            <tr>
                <td>Collection Type</td>
                <td>
                    <select th:field="*{collecType}">
                        <option value="" selected="selected" hidden><i>Select Collection Type</i></option>
                        <option value="Logical Server">Logical Server</option>
                        <option value="Environment">Environment</option>
                        <option value="DBMS">DBMS</option>
                        <option value="Instance Application">Instance Application</option>
                    </select>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Full Name</td>
                <td><input type="text" th:field="*{fullName}"> </td>
                <td></td>
            </tr>
            <tr>
                <td>Accronym</td>
                <td><input type="text" th:field="*{accronym}"></td>
                <td></td>
            </tr>
            <tr>
                <td>Backup Server</td>
                <td><input type="text" th:field="*{backUP}"></td>
            </tr>
            <tr>
                <td>Service Type Provided</td>
                <td>
                    <select th:field="*{serviceType}">
                        <option value="" selected="selected" hidden><i>Select Service Type</i></option>
                        <option value="SandBox">Sandbox</option>
                        <option value="Development">Development</option>
                        <option value="Acceptance">Acceptance</option>
                        <option value="Production">Production</option>
                        <option value="Disaster Recovery">Disaster Recovery</option>
                    </select>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Status</td>
                <td>
                    <select th:field="*{status}">
                        <option selected="selected" hidden value=""><i>Select Status</i></option>
                        <option value="Active">Active</option>
                        <option value="Retired">Retired</option>
                    </select>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Organizations</td>
                <td th:switch="${curUser.getAccessLvl()}">
                    <select th:field="*{organizations}" th:case="1">
                        <option selected="selected" hidden value=""><i>Choose here</i></option>
                        <option th:each="des_org : ${allOrgs}" th:value="${des_org}" th:text="${des_org}"></option>
                    </select>
                    <select th:field="*{organizations}" th:case="*">
                        <option selected="selected" hidden value=""><i>Choose here</i></option>
                        <option th:value="${curUser.getOrganization()}" th:text="${curUser.getOrganization()}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Design Agency Organizations</td>
                <td th:switch="${curUser.getAccessLvl()}">
                    <select th:field="*{desOrganizations}" th:case="1">
                        <option selected="selected" hidden value=""><i>Choose here</i></option>
                        <option th:each="des_org : ${allOrgs}" th:value="${des_org}" th:text="${des_org}"></option>
                    </select>
                    <select th:field="*{desOrganizations}" th:case="*">
                        <option selected="selected" hidden value=""><i>Choose here</i></option>
                        <option th:value="${curUser.getOrganization()}" th:text="${curUser.getOrganization()}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" class="btn btn-primary" id="addCollecSave" value="Save" />
                    <a th:href="@{/home}">Cancel</a>
                </td>
            </tr>
        </table>
    </form>

</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/scripts/AddCollection.js}"></script>

</body>
</html>