<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <th:block th:include="/_menu"></th:block>

</head>

<body>

<div class="container">

    <h2><span th:utext="${message}"></span></h2>

    <form class="aForm" th:action="@{/add}" th:object="${collection}" method="POST">
        <table>
            <tr>
                <td>Collection Type</td>
                <td>
                    <select th:field="*{collecType}">
                        <option value="" selected="selected" hidden><i>Select Collection Type</i></option>
                        <option value="Logical Server">Logical Server</option>
                        <option value="Environment">Environment</option>
                        <option value="DBMS">DBMS</option>
                        <option value="Instance Application">Instance Application</option>
                    </select>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Full Name</td>
                <td><input type="text" th:field="*{fullName}"> </td>
                <td></td>
            </tr>
            <tr>
                <td>Accronym</td>
                <td><input type="text" th:field="*{accronym}"></td>
                <td></td>
            </tr>
            <tr>
                <td>Backup Server</td>
                <td><input type="text" th:field="*{backUP}"></td>
            </tr>
            <tr>
                <td>Service Type Provided</td>
                <td>
                    <select th:field="*{serviceType}">
                        <option value="" selected="selected" hidden><i>Select Service Type</i></option>
                        <option value="SandBox">Sandbox</option>
                        <option value="Development">Development</option>
                        <option value="Acceptance">Acceptance</option>
                        <option value="Production">Production</option>
                        <option value="Disaster Recovery">Disaster Recovery</option>
                    </select>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Status</td>
                <td>
                    <select th:field="*{status}">
                        <option selected="selected" hidden value=""><i>Select Status</i></option>
                        <option value="Active">Active</option>
                        <option value="Retired">Retired</option>
                    </select>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Organizations</td>
                <td>
                    <select th:field="*{organizations}">
                        <option selected="selected" hidden value=""><i>Choose here</i></option>
                        <option th:each="organization : ${allOrgs}" th:value="${organization}" th:text="${organization}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Design Agency Organizations</td>
                <td>
                    <select th:field="*{desOrganizations}">
                        <option selected="selected" hidden value=""><i>Choose here</i></option>
                        <option th:each="des_org : ${allOrgs}" th:value="${des_org}" th:text="${des_org}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Submit">
                    <a th:href="@{/home}">Cancel</a>
                </td>
            </tr>
        </table>
    </form>

</div>

</body>
</html>