<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Collection</title>
    <th:block th:include="/_menu"></th:block>
</head>
<body style="padding-bottom: 40px">
<div class="container" >
    <form class="editForm">
        <h3>Collection</h3>
        <hr>
        <div class="form-group row">
            <label for="fullName" class="col-sm-2 col-form-label">Full Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="fullName" th:value="${highlevel.getFullName()}">
            </div>
        </div>
        <div class="form-group row">
            <label for="acronym" class="col-sm-2 col-form-label">Acronym</label>
            <div class="col-sm-10">
                <input type="text"  class="form-control" id="acronym" th:value="${highlevel.getAccronym()}">
            </div>
        </div>
        <div class="form-group row">
            <label for="collecTypes" class="col-sm-2 col-form-label">Collection Type</label>
            <div class="col-sm-10" th:switch="${highlevel.getCollecType()}">
                <select id="collecTypes" class="form-control" th:case="'Logical Server'">
                    <option value="Logical Server" selected="selected">Logical Server</option>
                    <option value="Environment">Environment</option>
                    <option value="DBMS">DBMS</option>
                    <option value="Instance Application">Instance Application</option>
                </select>
                <select id="collecTypes" class="form-control" th:case="'Environment'">
                    <option value="Logical Server" >Logical Server</option>
                    <option value="Environment" selected="selected">Environment</option>
                    <option value="DBMS">DBMS</option>
                    <option value="Instance Application">Instance Application</option>
                </select>
                <select id="collecTypes" class="form-control" th:case="'DBMS'">
                    <option value="Logical Server">Logical Server</option>
                    <option value="Environment">Environment</option>
                    <option value="DBMS" selected="selected">DBMS</option>
                    <option value="Instance Application">Instance Application</option>
                </select>
                <select id="collecTypes" class="form-control" th:case="'Instance Application'">
                    <option value="Logical Server" >Logical Server</option>
                    <option value="Environment">Environment</option>
                    <option value="DBMS">DBMS</option>
                    <option value="Instance Application" selected="selected">Instance Application</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="status" class="col-sm-2 col-form-label">Status</label>
            <div class="col-sm-10">
                <input type="text"  class="form-control" id="status" th:value="${highlevel.getStatus()}">
            </div>
        </div>
        <div class="form-group row">
            <label for="serviceType" class="col-sm-2 col-form-label">Service Type Provided</label>
            <div class="col-sm-10">
                <!--<input type="text"  class="form-control" id="serviceType" th:value="${highlevel.getServiceType()}">-->
                <select id="serviceType" class="form-control">
                    <option value="SandBox" th:if="${highlevel.getServiceType().equals('Sandbox')}" selected="selected">Sandbox</option>
                    <option value="SandBox" th:if="${!highlevel.getServiceType().equals('Sandbox')}" >Sandbox</option>
                    <option value="Development" th:if="${highlevel.getServiceType().equals('Development')}" selected="selected">Development</option>
                    <option value="Development" th:if="${!highlevel.getServiceType().equals('Development')}">Development</option>
                    <option value="Acceptance" th:if="${highlevel.getServiceType().equals('Acceptance')}" selected="selected">Acceptance</option>
                    <option value="Acceptance" th:if="${!highlevel.getServiceType().equals('Acceptance')}">Acceptance</option>
                    <option value="Acceptance" th:if="${highlevel.getServiceType().equals('Acceptance')}" selected="selected">Acceptance</option>
                    <option value="Acceptance" th:if="${!highlevel.getServiceType().equals('Acceptance')}">Acceptance</option>
                    <option value="Disaster Recovery" th:if="${highlevel.getServiceType().equals('Disaster Recovery')}" selected="selected">Disaster Recovery</option>
                    <option value="Disaster Recovery" th:if="${!highlevel.getServiceType().equals('Disaster Recovery')}">Disaster Recovery</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="orgs" class="col-sm-2 col-form-label">Organization</label>
            <div class="col-sm-10">
                <select id="orgs" class="form-control">
                    <option th:each="des_org : ${allOrgs}" th:if="${des_org.equals(collecOrg)}" selected="selected" th:text="${des_org}"></option>
                    <option th:each="des_org : ${allOrgs}" th:if="${!des_org.equals(collecOrg)}" th:text="${des_org}"></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="desOrganization" class="col-sm-2 col-form-label">Design Agency Organization</label>
            <div class="col-sm-10">
                <select id="desOrganization" class="form-control">
                    <option th:each="des_org : ${allOrgs}" th:if="${collecDesOrg.equals(collecOrg)}" selected="selected" th:text="${des_org}"></option>
                    <option th:each="des_org : ${allOrgs}" th:if="${!collecDesOrg.equals(collecOrg)}" th:text="${des_org}"></option>
                </select>
            </div>
        </div>
        <h4>General</h4>
        <hr>
        <div class="form-group row">
            <label for="userPop" class="col-sm-2 col-form-label">User Population</label>
            <div class="col-sm-10">
                <input type="text"  class="form-control" id="userPop" th:value="${general != null } ? ${general.getUserPop()} : ''">
            </div>
        </div>
        <div class="form-group row">
            <label for="primCustomer" class="col-sm-2 col-form-label">Primary Customer</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="primCustomer" th:value="${general != null } ? ${general.getPrimaryCustomer()}: ''">
            </div>
        </div>
        <div class="form-group row">
            <label for="subContMaint" class="col-sm-2 col-form-label">Subcontractor Maintainer</label>
            <div class="col-sm-10">
                <input type="text"  class="form-control" id="subContMaint" th:value="${general != null } ? ${general.getSubcontMaintainer()} : ''">
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <textarea rows="4" cols="50" class="form-control" id="description" th:text="${general != null } ? ${general.getDescription()} : ''"></textarea>
            </div>
        </div>
        <h4>Controls/Impacts</h4>
        <hr>
        <div class="form-group row">
            <label for="funcClass" class="col-sm-2 col-form-label">Function class</label>
            <div class="col-sm-10">
                <select id="funcClass" class="form-control">
                    <option value="A" th:if="${(controlsImpacts != null) && controlsImpacts.getFunctionClass().equals('A')}" selected="selected">A</option>
                    <option value="A" th:if="${(controlsImpacts != null) && !controlsImpacts.getFunctionClass().equals('A')}">A</option>
                    <option value="B" th:if="${controlsImpacts!=null && controlsImpacts.getFunctionClass().equals('B')}" selected="selected">B</option>
                    <option value="B" th:if="${controlsImpacts!=null && !controlsImpacts.getFunctionClass().equals('B')}">B</option>
                    <option value="C" th:if="${controlsImpacts!=null && controlsImpacts.getFunctionClass().equals('C')}" selected="selected">C</option>
                    <option value="C" th:if="${controlsImpacts!=null && !controlsImpacts.getFunctionClass().equals('C')}">C</option>
                    <option value="D" th:if="${controlsImpacts!=null && controlsImpacts.getFunctionClass().equals('D')}" selected="selected">D</option>
                    <option value="D" th:if="${controlsImpacts!=null && !controlsImpacts.getFunctionClass().equals('D')}">D</option>
                    <option value="E" th:if="${controlsImpacts!=null && controlsImpacts.getFunctionClass().equals('E')}" selected="selected">E</option>
                    <option value="E" th:if="${controlsImpacts!=null && !controlsImpacts.getFunctionClass().equals('E')}" >E</option>
                    <option value="" th:if="${controlsImpacts == null}" selected="selected" hidden>Select Function Class</option>
                    <option value="A" th:if="${controlsImpacts == null}">A</option>
                    <option value="B" th:if="${controlsImpacts == null}">B</option>
                    <option value="C" th:if="${controlsImpacts == null}">C</option>
                    <option value="D" th:if="${controlsImpacts == null}">D</option>
                    <option value="E" th:if="${controlsImpacts == null}">E</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="dataClass" class="col-sm-2 col-form-label">Data Classification</label>
            <div class="col-sm-10">
                <select id="dataClass" class="form-control">
                    <option value="U" th:if="${(controlsImpacts != null) && controlsImpacts.getDataClass().equals('U')}" selected="selected">U</option>
                    <option value="U" th:if="${(controlsImpacts != null) && !controlsImpacts.getDataClass().equals('U')}">U</option>
                    <option value="C" th:if="${controlsImpacts!=null && controlsImpacts.getDataClass().equals('C')}" selected="selected">C</option>
                    <option value="C" th:if="${controlsImpacts!=null && !controlsImpacts.getDataClass().equals('C')}">C</option>
                    <option value="S" th:if="${controlsImpacts!=null && controlsImpacts.getDataClass().equals('S')}" selected="selected">S</option>
                    <option value="S" th:if="${controlsImpacts!=null && !controlsImpacts.getDataClass().equals('S')}">S</option>
                    <option value="TS" th:if="${controlsImpacts!=null && controlsImpacts.getDataClass().equals('TS')}" selected="selected">TS</option>
                    <option value="TS" th:if="${controlsImpacts!=null && !controlsImpacts.getDataClass().equals('TS')}">TS</option>
                    <option value="" th:if="${controlsImpacts == null}" selected="selected" hidden>Select Data Classification</option>
                    <option value="U" th:if="${controlsImpacts == null}">U</option>
                    <option value="C" th:if="${controlsImpacts == null}">C</option>
                    <option value="S" th:if="${controlsImpacts == null}">S</option>
                    <option value="TS" th:if="${controlsImpacts == null}">TS</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="missRating" class="col-sm-2 col-form-label">Mission Essential Rating</label>
            <div class="col-sm-10">
                <select id="missRating" class="form-control">
                    <option value="Non-Essential" th:if="${(controlsImpacts != null) && controlsImpacts.getMissEssRating().equals('Non-Essential')}" selected="selected">Non-Essential</option>
                    <option value="Non-Essential" th:if="${(controlsImpacts != null) && !controlsImpacts.getMissEssRating().equals('Non-Essential')}">Non-Essential</option>
                    <option value="Routine" th:if="${controlsImpacts!=null && controlsImpacts.getMissEssRating().equals('Routine')}" selected="selected">Routine</option>
                    <option value="Routine" th:if="${controlsImpacts!=null && !controlsImpacts.getMissEssRating().equals('Routine')}">Routine</option>
                    <option value="Important" th:if="${controlsImpacts!=null && controlsImpacts.getMissEssRating().equals('Important')}" selected="selected">Important</option>
                    <option value="Important" th:if="${controlsImpacts!=null && !controlsImpacts.getMissEssRating().equals('Important')}">Important</option>
                    <option value="Moderately Important" th:if="${controlsImpacts!=null && controlsImpacts.getMissEssRating().equals('Moderately Important')}" selected="selected">Moderately Important</option>
                    <option value="Moderately Important" th:if="${controlsImpacts!=null && !controlsImpacts.getMissEssRating().equals('Moderately Important')}">Moderately Important</option>
                    <option value="Highly Important" th:if="${controlsImpacts!=null && controlsImpacts.getMissEssRating().equals('Highly Important')}" selected="selected">Highly Important</option>
                    <option value="Highly Iportant" th:if="${controlsImpacts!=null && !controlsImpacts.getMissEssRating().equals('Highly Important')}" >Highly Important</option>
                    <option value="" th:if="${controlsImpacts == null}" selected="selected" hidden>Select Function Class</option>
                    <option value="Non-Essential" th:if="${controlsImpacts == null}">Non-Essential</option>
                    <option value="Routine" th:if="${controlsImpacts == null}">Routine</option>
                    <option value="Important" th:if="${controlsImpacts == null}">Important</option>
                    <option value="Moderately Important" th:if="${controlsImpacts == null}">Moderately Important</option>
                    <option value="Highly Important" th:if="${controlsImpacts == null}">Highly Important</option>
                </select>
            </div>
        </div>

        <h4>Contacts</h4>
        <hr>
        <div class="form-group row">
            <label for="aUserID" class="col-sm-2 col-form-label">UserId</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="aUserID" value="val">
            </div>
        </div>
        <div class="form-group row">
            <label for="aName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="aName" value="val">
            </div>
        </div>
        <div class="form-group row">
            <label for="contType" class="col-sm-2 col-form-label">Contact Type</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="contType" value="val">
            </div>
        </div>
        <div class="form-group row">
            <label for="phoneNum" class="col-sm-2 col-form-label">Phone Number</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="phoneNum" value="val">
            </div>
        </div>
        <div class="form-group row">
            <label for="location" class="col-sm-2 col-form-label">Location</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="location" value="val">
            </div>
        </div>

        <h4>Vendor Products</h4>
        <hr>
        <div class="form-group row">
            <label for="aProductName" class="col-sm-2 col-form-label">Product Name</label>
            <div class="col-sm-10">
                <input type="text"  class="form-control" id="aProductName" value="val">
            </div>
        </div>
        <div class="form-group row">
            <label for="aVersion" class="col-sm-2 col-form-label">Version</label>
            <div class="col-sm-10">
                <input type="text"  class="form-control" id="aVersion" value="val">
            </div>
        </div>
        <div class="form-group row">
            <label for="prodDesc" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <textarea rows="4" cols="50" class="form-control" id="prodDesc">val</textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="classInfo" class="col-sm-2 col-form-label">Classified Information</label>
            <div class="col-sm-10">
                <input type="text"  class="form-control" id="classInfo" value="val">
            </div>
        </div>

        <h4>SubObjects</h4>
        <hr>
        <div class="form-group row">
            <label for="subObjType" class="col-sm-2 col-form-label">Type</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="subObjType" value="val">
            </div>
        </div>
        <div class="form-group row">
            <label for="subObjName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text"  class="form-control" id="subObjName" value="val">
            </div>
        </div>
        <div class="form-group row">
            <label for="subObjVers" class="col-sm-2 col-form-label">Version</label>
            <div class="col-sm-10">
                <input type="text"  class="form-control" id="subObjVers" value="val">
            </div>
        </div>
        <div class="form-group row">
            <label for="subObjClass" class="col-sm-2 col-form-label">Classified Information</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="subObjClass" value="val">
            </div>
        </div>

        <h4>Relationships</h4>
        <hr>
        <div class="form-group row">
            <label for="aRelationship" class="col-sm-2 col-form-label">Sample Relationship</label>
            <div class="col-sm-10">
                <input type="text"  class="form-control" id="aRelationship" value="val">
                <button class="relationships">Edit</button>
                <button>Delete</button>
            </div>
        </div>
        <button>Add Relationship</button>

        <h4>Editors</h4>
        <hr>
        <div class="form-group row">
            <label for="aEditor" class="col-sm-2 col-form-label">Sample Editor</label>
            <div class="col-sm-10">
                <input type="text"  class="form-control" id="aEditor" value="val">
                <button class="editors">Edit</button>
                <button>Delete</button>
            </div>
        </div>
        <button>Add Editor</button>


        <div id="specific" th:switch="${collType}">
            <div th:case="'Instance Application'">
                <h4>Application Information</h4>
                <hr>
                <div class="form-group row">
                    <label for="aSubType" class="col-sm-2 col-form-label">Subtype</label>
                    <div class="col-sm-10">
                        <input type="text"  class="form-control" id="aSubType" th:value="${myApplication != null} ? ${myApplication.getSubType()} : ''">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="aUI" class="col-sm-2 col-form-label">User Interface</label>
                    <div class="col-sm-10">
                        <input type="text"  class="form-control" id="aUI" th:value="${myApplication != null} ? ${myApplication.getUserInterface()} : ''">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="aAppSize" class="col-sm-2 col-form-label">Application Size</label>
                    <div class="col-sm-10">
                        <input type="text"  class="form-control" id="aAppSize" th:value="${myApplication != null} ? ${myApplication.getSize()} : ''">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="totUsers" class="col-sm-2 col-form-label">Total Users</label>
                    <div class="col-sm-10">
                        <input type="text"  class="form-control" id="totUsers" th:value="${myApplication != null} ? ${myApplication.getTotalUsers()} : ''">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="totConcUsers" class="col-sm-2 col-form-label">Total Concurrent Users</label>
                    <div class="col-sm-10">
                        <input type="text"  class="form-control" id="totConcUsers" th:value="${myApplication != null} ? ${myApplication.getConcUsers()} : ''">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="priority" class="col-sm-2 col-form-label">Priority</label>
                    <div class="col-sm-10">
                        <input type="text"  class="form-control" id="priority" th:value="${myApplication != null} ? ${myApplication.getPriority()} : ''">
                    </div>
                </div>
            </div>
            <div th:case="'Logical Server'">
                <h4>Server Information</h4>
                <hr>
                <div class="form-group row">
                    <label for="backupServ" class="col-sm-2 col-form-label">Backp Server</label>
                    <div class="col-sm-10">
                        <input type="text"  class="form-control" id="backupServ" th:value="${logicalServer != null} ? ${logicalServer.getBackUp()} : ''">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="monitored" class="col-sm-2 col-form-label">Monitored</label>
                    <div class="col-sm-10">
                        <input type="text"  class="form-control" id="monitored" th:value="${logicalServer != null} ? ${logicalServer.isMonitored()} : ''">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="respGroup" class="col-sm-2 col-form-label">Responsible Group</label>
                    <div class="col-sm-10">
                        <input type="text"  class="form-control" id="respGroup" th:value="${logicalServer != null} ? ${logicalServer.getRespGroup()} : ''">
                    </div>
                </div>
            </div>
            <div th:case="'Environment'">
                <h4>Environment Information</h4>
                <hr>
                <div class="form-group row">
                    <label for="envSubType" class="col-sm-2 col-form-label">Environment Subtype</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="envSubType" th:value="${environment != null } ? ${environment.getSubType()} : ''">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="envBackUp" class="col-sm-2 col-form-label">Backup Server</label>
                    <div class="col-sm-10">
                        <input type="text"  class="form-control" id="envBackUp" th:value="${environment != null } ? ${environment.getBackUp()} : ''">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="envMonitored" class="col-sm-2 col-form-label">Monitored</label>
                    <div class="col-sm-10">
                        <input type="text"  class="form-control" id="envMonitored" th:value="${environment != null } ? ${environment.isMonitored()} : ''">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="envRespGroup" class="col-sm-2 col-form-label">Responsible Group</label>
                    <div class="col-sm-10">
                        <input type="text"  class="form-control" id="envRespGroup" th:value="${environment != null } ? ${environment.getRespGroup()} : ''">
                    </div>
                </div>
            </div>

        </div>

        <!--Below is the regular input without readonly-->
        <!--<div class="form-group row">-->
        <!--<label for="inputPassword" class="col-sm-2 col-form-label">Password</label>-->
        <!--<div class="col-sm-10">-->
        <!--<input type="password" class="form-control" id="inputPassword" placeholder="Password">-->
        <!--</div>-->
        <!--</div>-->
    </form>
    <a><button>Submit</button></a>
    <a><button>Cancel</button></a>
</div>

<div class="relationshipForm">
    <form th:action="@{/relationshipPost}" method="post">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Relationship</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="relationshipTypes" class="col-form-label">Relationship:</label>
                            <select id="relationshipTypes">
                                <option value="From Service Type">From Service Type</option>
                                <option value="From SubObject">From SubObject</option>
                                <option value="To Collection">To Collection</option>
                                <option value="To Collection Type">To Collection Type</option>
                                <option value="To SubObject">To SubObject</option>
                                <option value="To Service Type">To Service Type</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="relationshipValue" class="col-form-label">ORGANIZATION:</label>
                            <input type="text" class="form-control" id="relationshipValue" name="organization" value=""/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="save"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="editorModal">
    <form th:action="@{/save}" method="post">
        <div class="modal fade" id="theEditorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editorModalLabel">Edit Editor</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="editorUserID" class="col-form-label">USER ID</label>
                            <input type="text" class="form-control" id="editorUserID" name="username" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="editorName" class="col-form-label">Name</label>
                            <input type="text" class="form-control" id="editorName" name="organization" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="editorAccessLvl" class="col-form-label">Access Level</label>
                            <input type="password" class="form-control" id="editorAccessLvl" name="password" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="editorPhoneNum" class="col-form-label">Phone Number</label>
                            <input type="password" class="form-control" id="editorPhoneNum" name="password" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="editorLocation" class="col-form-label">Location</label>
                            <input type="password" class="form-control" id="editorLocation" name="password" value=""/>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="save"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


</body>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/scripts/EditCollection.js}"></script>
</html>
