<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Collection</title>
    <th:block th:include="/_menu"></th:block>
</head>
<body style="padding-bottom: 40px">
<div class="container" >
    <form class="editForm" th:action="@{/edit}" th:object="${collection}" method="POST">
        <h3>Collection</h3>
        <hr>
        <div>
            <input th:field="*{collecIid}" style="display: none;"/>
        </div>
        <div class="form-group row">
            <label for="fullName" class="col-sm-2 col-form-label">Full Name</label>
            <div class="col-sm-10">
                <input th:field="*{fullName}" type="text" class="form-control" id="fullName" >
            </div>
        </div>
        <div class="form-group row">
            <label for="acronym" class="col-sm-2 col-form-label">Acronym</label>
            <div class="col-sm-10">
                <input th:field="*{accronym}" type="text"  class="form-control" id="acronym" >
            </div>
        </div>
        <div class="form-group row">
            <label for="collecTypes" class="col-sm-2 col-form-label">Collection Type</label>
            <div class="col-sm-10" th:switch="${highlevel.getCollecType()}">
                <select th:field="*{collecType}" id="collecTypes" class="form-control" th:case="'Logical Server'">
                    <option value="Logical Server" selected="selected">Logical Server</option>
                    <option value="Environment">Environment</option>
                    <option value="DBMS">DBMS</option>
                    <option value="Instance Application">Instance Application</option>
                </select>
                <select th:field="*{collecType}" id="collecTypes" class="form-control" th:case="'Environment'">
                    <option value="Logical Server" >Logical Server</option>
                    <option value="Environment" selected="selected">Environment</option>
                    <option value="DBMS">DBMS</option>
                    <option value="Instance Application">Instance Application</option>
                </select>
                <select th:field="*{collecType}" id="collecTypes" class="form-control" th:case="'DBMS'">
                    <option value="Logical Server">Logical Server</option>
                    <option value="Environment">Environment</option>
                    <option value="DBMS" selected="selected">DBMS</option>
                    <option value="Instance Application">Instance Application</option>
                </select>
                <select th:field="*{collecType}" id="collecTypes" class="form-control" th:case="'Instance Application'">
                    <option value="Logical Server" >Logical Server</option>
                    <option value="Environment">Environment</option>
                    <option value="DBMS">DBMS</option>
                    <option value="Instance Application" selected="selected">Instance Application</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="backUp" class="col-sm-2 col-form-label">Backup Server</label>
            <div class="col-sm-10">
                <input th:field="*{backUP}" type="text"  class="form-control" id="backUp" />
            </div>
        </div>
        <div class="form-group row">
            <label for="status" class="col-sm-2 col-form-label">Status</label>
            <div class="col-sm-10">
                <select th:field="*{status}" id="status" class="form-control">
                    <option value="Active" th:if="${collection.getStatus().equals('Active')}" selected="selected">Active</option>
                    <option value="Active" th:if="${!collection.getStatus().equals('Active')}" >Active</option>
                    <option value="Retired" th:if="${collection.getStatus().equals('Retired')}" selected="selected">Retired</option>
                    <option value="Retired" th:if="${!collection.getStatus().equals('Retired')}" >Retired</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="serviceType" class="col-sm-2 col-form-label">Service Type Provided</label>
            <div class="col-sm-10">
                <!--<input type="text"  class="form-control" id="serviceType" th:value="${highlevel.getServiceType()}">-->
                <select th:field="*{serviceType}" id="serviceType" class="form-control">
                    <option value="SandBox" th:if="${collection.getServiceType().equals('Sandbox')}" selected="selected">Sandbox</option>
                    <option value="SandBox" th:if="${!collection.getServiceType().equals('Sandbox')}" >Sandbox</option>
                    <option value="Development" th:if="${collection.getServiceType().equals('Development')}" selected="selected">Development</option>
                    <option value="Development" th:if="${!collection.getServiceType().equals('Development')}">Development</option>
                    <option value="Acceptance" th:if="${collection.getServiceType().equals('Acceptance')}" selected="selected">Acceptance</option>
                    <option value="Acceptance" th:if="${!collection.getServiceType().equals('Acceptance')}">Acceptance</option>
                    <option value="Production" th:if="${collection.getServiceType().equals('Production')}" selected="selected">Production</option>
                    <option value="Production" th:if="${!collection.getServiceType().equals('Production')}">Production</option>
                    <option value="Disaster Recovery" th:if="${collection.getServiceType().equals('Disaster Recovery')}" selected="selected">Disaster Recovery</option>
                    <option value="Disaster Recovery" th:if="${!collection.getServiceType().equals('Disaster Recovery')}">Disaster Recovery</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="orgs" class="col-sm-2 col-form-label">Organization</label>
            <div class="col-sm-10">
                <select th:field="*{organizations}" id="orgs" class="form-control">
                    <option th:each="des_org : ${allOrgs}" th:if="${des_org.equals(collecOrg)}" selected="selected" th:text="${des_org}" th:value="${des_org}"></option>
                    <option th:each="des_org : ${allOrgs}" th:if="${!des_org.equals(collecOrg)}" th:text="${des_org}" th:value="${des_org}"></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="desOrganization" class="col-sm-2 col-form-label">Design Agency Organization</label>
            <div class="col-sm-10">
                <select th:field="*{desOrganizations}" id="desOrganization" class="form-control">
                    <option th:each="des_org : ${allOrgs}" th:if="${des_org.equals(collecDesOrg)}" selected="selected" th:text="${des_org}" th:value="${des_org}"></option>
                    <option th:each="des_org : ${allOrgs}" th:if="${!des_org.equals(collecDesOrg)}" th:text="${des_org}" th:value="${des_org}"></option>
                </select>
            </div>
        </div>
        <h4>General</h4>
        <hr>
        <div class="form-group row">
            <label for="userPopulation" class="col-sm-2 col-form-label">User Population</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{userPopulation}" class="form-control" id="userPopulation" th:value="${general != null } ? ${general.getUserPop()} : ''">
            </div>
        </div>
        <div class="form-group row">
            <label for="primCustomer" class="col-sm-2 col-form-label">Primary Customer</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{primaryCustomer}" class="form-control" id="primCustomer" th:value="${general != null } ? ${general.getPrimaryCustomer()}: ''">
            </div>
        </div>
        <div class="form-group row">
            <label for="subContMaint" class="col-sm-2 col-form-label">Subcontractor Maintainer</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{subContractMain}" class="form-control" id="subContMaint" th:value="${general != null } ? ${general.getSubcontMaintainer()} : ''">
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <textarea rows="4" cols="50" th:field="*{genDescription}" class="form-control" id="description" th:text="${general != null } ? ${general.getDescription()} : ''"></textarea>
            </div>
        </div>
        <h4>Controls/Impacts</h4>
        <hr>
        <div class="form-group row">
            <label for="funcClass" class="col-sm-2 col-form-label">Function class</label>
            <div class="col-sm-10">
                <select id="funcClass" th:field="*{functionClass}" class="form-control">
                    <option value="A" th:if="${(controlsImpacts != null) && controlsImpacts.getFunctionClass() != null && controlsImpacts.getFunctionClass().equals('A')}" selected="selected">A</option>
                    <option value="A" th:if="${(controlsImpacts != null) && controlsImpacts.getFunctionClass() != null && !controlsImpacts.getFunctionClass().equals('A')}">A</option>
                    <option value="B" th:if="${controlsImpacts!=null && controlsImpacts.getFunctionClass() != null && controlsImpacts.getFunctionClass().equals('B')}" selected="selected">B</option>
                    <option value="B" th:if="${controlsImpacts!=null && controlsImpacts.getFunctionClass() != null && !controlsImpacts.getFunctionClass().equals('B')}">B</option>
                    <option value="C" th:if="${controlsImpacts!=null && controlsImpacts.getFunctionClass() != null && controlsImpacts.getFunctionClass().equals('C')}" selected="selected">C</option>
                    <option value="C" th:if="${controlsImpacts!=null && controlsImpacts.getFunctionClass() != null && !controlsImpacts.getFunctionClass().equals('C')}">C</option>
                    <option value="D" th:if="${controlsImpacts!=null && controlsImpacts.getFunctionClass() != null && controlsImpacts.getFunctionClass().equals('D')}" selected="selected">D</option>
                    <option value="D" th:if="${controlsImpacts!=null && controlsImpacts.getFunctionClass() != null && !controlsImpacts.getFunctionClass().equals('D')}">D</option>
                    <option value="E" th:if="${controlsImpacts!=null && controlsImpacts.getFunctionClass() != null && controlsImpacts.getFunctionClass().equals('E')}" selected="selected">E</option>
                    <option value="E" th:if="${controlsImpacts!=null && controlsImpacts.getFunctionClass() != null && !controlsImpacts.getFunctionClass().equals('E')}" >E</option>
                    <option value="" th:if="${controlsImpacts == null || controlsImpacts.getFunctionClass() == null }" selected="selected" hidden>Select Function Class</option>
                    <option value="A" th:if="${controlsImpacts == null || controlsImpacts.getFunctionClass() == null }">A</option>
                    <option value="B" th:if="${controlsImpacts == null|| controlsImpacts.getFunctionClass() == null }">B</option>
                    <option value="C" th:if="${controlsImpacts == null|| controlsImpacts.getFunctionClass() == null }">C</option>
                    <option value="D" th:if="${controlsImpacts == null || controlsImpacts.getFunctionClass() == null }">D</option>
                    <option value="E" th:if="${controlsImpacts == null || controlsImpacts.getFunctionClass() == null }">E</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="dataClass" class="col-sm-2 col-form-label">Data Classification</label>
            <div class="col-sm-10">
                <select id="dataClass" th:field="*{dataClass}" class="form-control">
                    <option value="U" th:if="${(controlsImpacts != null) && controlsImpacts.getDataClass() != null && controlsImpacts.getDataClass().equals('U')}" selected="selected">U</option>
                    <option value="U" th:if="${(controlsImpacts != null) && controlsImpacts.getDataClass() != null&& !controlsImpacts.getDataClass().equals('U')}">U</option>
                    <option value="C" th:if="${controlsImpacts!=null && controlsImpacts.getDataClass() != null && controlsImpacts.getDataClass().equals('C')}" selected="selected">C</option>
                    <option value="C" th:if="${controlsImpacts!=null && controlsImpacts.getDataClass() != null && !controlsImpacts.getDataClass().equals('C')}">C</option>
                    <option value="S" th:if="${controlsImpacts!=null && controlsImpacts.getDataClass() != null && controlsImpacts.getDataClass().equals('S')}" selected="selected">S</option>
                    <option value="S" th:if="${controlsImpacts!=null && controlsImpacts.getDataClass() != null && !controlsImpacts.getDataClass().equals('S')}">S</option>
                    <option value="TS" th:if="${controlsImpacts!=null && controlsImpacts.getDataClass() != null && controlsImpacts.getDataClass().equals('TS')}" selected="selected">TS</option>
                    <option value="TS" th:if="${controlsImpacts!=null && controlsImpacts.getDataClass() != null && !controlsImpacts.getDataClass().equals('TS')}">TS</option>
                    <option value="" th:if="${controlsImpacts == null || controlsImpacts.getDataClass() == null}"  selected="selected" hidden>Select Data Classification</option>
                    <option value="U" th:if="${controlsImpacts == null || controlsImpacts.getDataClass() == null}">U</option>
                    <option value="C" th:if="${controlsImpacts == null || controlsImpacts.getDataClass() == null}">C</option>
                    <option value="S" th:if="${controlsImpacts == null || controlsImpacts.getDataClass() == null}">S</option>
                    <option value="TS" th:if="${controlsImpacts == null || controlsImpacts.getDataClass() == null}">TS</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="missRating" class="col-sm-2 col-form-label">Mission Essential Rating</label>
            <div class="col-sm-10">
                <select id="missRating" th:field="*{missEssRating}" class="form-control">
                    <option value="Non-Essential" th:if="${(controlsImpacts != null) && controlsImpacts.getMissEssRating() != null && controlsImpacts.getMissEssRating().equals('Non-Essential')}" selected="selected">Non-Essential</option>
                    <option value="Non-Essential" th:if="${(controlsImpacts != null) && controlsImpacts.getMissEssRating() != null  && !controlsImpacts.getMissEssRating().equals('Non-Essential')}">Non-Essential</option>
                    <option value="Routine" th:if="${controlsImpacts!=null && controlsImpacts.getMissEssRating() != null  && controlsImpacts.getMissEssRating().equals('Routine')}" selected="selected">Routine</option>
                    <option value="Routine" th:if="${controlsImpacts!=null && controlsImpacts.getMissEssRating() != null  && !controlsImpacts.getMissEssRating().equals('Routine')}">Routine</option>
                    <option value="Important" th:if="${controlsImpacts!=null && controlsImpacts.getMissEssRating() != null  && controlsImpacts.getMissEssRating().equals('Important')}" selected="selected">Important</option>
                    <option value="Important" th:if="${controlsImpacts!=null && controlsImpacts.getMissEssRating() != null  && !controlsImpacts.getMissEssRating().equals('Important')}">Important</option>
                    <option value="Moderately Important" th:if="${controlsImpacts!=null && controlsImpacts.getMissEssRating() != null  && controlsImpacts.getMissEssRating().equals('Moderately Important')}" selected="selected">Moderately Important</option>
                    <option value="Moderately Important" th:if="${controlsImpacts!=null && controlsImpacts.getMissEssRating() != null  && !controlsImpacts.getMissEssRating().equals('Moderately Important')}">Moderately Important</option>
                    <option value="Highly Important" th:if="${controlsImpacts!=null && controlsImpacts.getMissEssRating() != null  && controlsImpacts.getMissEssRating().equals('Highly Important')}" selected="selected">Highly Important</option>
                    <option value="Highly Iportant" th:if="${controlsImpacts!=null && controlsImpacts.getMissEssRating() != null  && !controlsImpacts.getMissEssRating().equals('Highly Important')}" >Highly Important</option>
                    <option value="" th:if="${controlsImpacts == null || controlsImpacts.getMissEssRating() == null}" selected="selected" hidden>Select Function Class</option>
                    <option value="Non-Essential" th:if="${controlsImpacts == null || controlsImpacts.getMissEssRating() == null}">Non-Essential</option>
                    <option value="Routine" th:if="${controlsImpacts == null || controlsImpacts.getMissEssRating() == null}">Routine</option>
                    <option value="Important" th:if="${controlsImpacts == null || controlsImpacts.getMissEssRating() == null}">Important</option>
                    <option value="Moderately Important" th:if="${controlsImpacts == null || controlsImpacts.getMissEssRating() == null}">Moderately Important</option>
                    <option value="Highly Important" th:if="${controlsImpacts == null || controlsImpacts.getMissEssRating() == null}">Highly Important</option>
                </select>
            </div>
        </div>
        <h4>Contacts</h4>
        <hr>
        <div class="form-group row">
            <table>
                    <tr>
                    <td>Example Contact</td>
                    <td>
                        <a class="btn btn-primary" id="editContactBtn">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" id="deleteContactBtn">Delete</a>
                    </td>
                    <tr>
            </table>
        </div>
        <a class="btn btn-success" id="addUser">Add Contact</a>
        <h4>Vendor Products</h4>
        <hr>
        <div class="form-group row">
            <table>
                <tr>
                    <td>Example Product</td>
                    <td>
                        <a class="btn btn-primary" id="editVendorBtn">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" id="deleteVendorBtn">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
        <a class="btn btn-success addVendor" id="addVendorBtn">Add Vendor Product</a>

        <h4>SubObjects</h4>
        <hr>
        <div class="form-group row">
            <table>
                <tr>
                    <td>Example SubObject</td>
                    <td>
                        <a class="btn btn-primary" id="editSubObjBtn">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" id="deleteSubObjBtn">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
        <a class="btn btn-success" id="addSubObject">Add SubObject</a>

        <h4>Relationships</h4>
        <hr>
        <div class="form-group row">
            <table>
                <tr>
                    <td>Example Relationship</td>
                    <td>
                        <a class="btn btn-primary" id="editRelationBtn">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" id="deleteRelationBtn">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
        <a class="btn btn-success" id="addRelationship">Add Relationship</a>

        <h4>Editors</h4>
        <hr>
        <div class="form-group row">
            <table>
                <tr>
                    <td>Example Editor</td>
                    <td>
                        <a class="btn btn-primary" id="editEditorBtn">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" id="deleteEditorBtn">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
        <a class="btn btn-success" id="addEditor">Add Editor</a>
        \

        <div id="specific" th:switch="${collType}">
            <div th:case="'Instance Application'">
                <h4>Application Information</h4>
                <hr>
                <div class="form-group row">
                    <label for="aSubType" class="col-sm-2 col-form-label">Subtype</label>
                    <div class="col-sm-10">
                        <select id="aSubType" th:field="*{appSubType}" class="form-control">
                            <option value="Web" th:if="${myApplication != null && myApplication.getSubType() != null && myApplication.getSubType().equals('Web')}" selected="selected">Web</option>
                            <option value="Web" th:if="${myApplication != null && myApplication.getSubType() != null && !myApplication.getSubType().equals('Web')}">Web</option>
                            <option value="Desktop" th:if="${myApplication != null && myApplication.getSubType() != null && myApplication.getSubType().equals('Desktop')}" selected="selected">Desktop</option>
                            <option value="Desktop" th:if="${myApplication != null && myApplication.getSubType() != null && !myApplication.getSubType().equals('Desktop')}">Desktop</option>
                            <option value="Mobile" th:if="${myApplication != null && myApplication.getSubType() != null && myApplication.getSubType().equals('Mobile')}" selected="selected">Mobile</option>
                            <option value="Mobile" th:if="${myApplication != null && myApplication.getSubType() != null && !myApplication.getSubType().equals('Mobile')}">Mobile</option>
                            <option value="" th:if="${myApplication == null || myApplication.getSubType()== null}" selected="selected" hidden>Select Application Subtype</option>
                            <option value="Web" th:if="${myApplication == null || myApplication.getSubType()== null}">Web</option>
                            <option value="Desktop" th:if="${myApplication == null || myApplication.getSubType()== null}">Desktop</option>
                            <option value="Mobile" th:if="${myApplication == null || myApplication.getSubType()== null}">Mobile</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="aUI" class="col-sm-2 col-form-label">User Interface</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{userInterface}"  class="form-control" id="aUI" th:value="${myApplication != null} ? ${myApplication.getUserInterface()} : ''">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="aAppSize" class="col-sm-2 col-form-label">Application Size</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{appSize}"  class="form-control" id="aAppSize" th:value="${myApplication != null} ? ${myApplication.getSize()} : ''">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="totUsers" class="col-sm-2 col-form-label">Total Users</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{totalUsers}" class="form-control" id="totUsers" th:value="${myApplication != null} ? ${myApplication.getTotalUsers()} : ''">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="totConcUsers" class="col-sm-2 col-form-label">Total Concurrent Users</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{totalConcUsers}" class="form-control" id="totConcUsers" th:value="${myApplication != null} ? ${myApplication.getConcUsers()} : ''">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="priority" class="col-sm-2 col-form-label">Priority</label>
                    <div class="col-sm-10">
                        <select id="priority" th:field="*{priority}" class="form-control">
                            <option th:if="${myApplication != null && myApplication.getPriority() != null && myApplication.getPriority().equals('1')}" value="1" selected="selected">1</option>
                            <option th:if="${myApplication != null && myApplication.getPriority() != null && !myApplication.getPriority().equals('1')}" value="1">1</option>
                            <option th:if="${myApplication != null && myApplication.getPriority() != null && myApplication.getPriority().equals('2')}" value="2" selected="selected">2</option>
                            <option th:if="${myApplication != null && myApplication.getPriority() != null && !myApplication.getPriority().equals('1')}" value="2">2</option>
                            <option th:if="${myApplication != null && myApplication.getPriority() != null && myApplication.getPriority().equals('3')}" value="3" selected="selected">3</option>
                            <option th:if="${myApplication != null && myApplication.getPriority() != null && !myApplication.getPriority().equals('3')}" value="3">3</option>
                            <option th:if="${myApplication != null && myApplication.getPriority() != null && myApplication.getPriority().equals('4')}" value="4" selected="selected">4</option>
                            <option th:if="${myApplication != null && myApplication.getPriority() != null && !myApplication.getPriority().equals('4')}" value="4">4</option>
                            <option th:if="${myApplication != null && myApplication.getPriority() != null && myApplication.getPriority().equals('5')}" value="5" selected="selected">5</option>
                            <option th:if="${myApplication != null && myApplication.getPriority() != null && !myApplication.getPriority().equals('5')}" value="5">5</option>
                            <option th:if="${myApplication != null && myApplication.getPriority() != null && myApplication.getPriority().equals('6')}" value="6" selected="selected">6</option>
                            <option th:if="${myApplication != null && myApplication.getPriority() != null && !myApplication.getPriority().equals('6')}" value="6">6</option>
                            <option th:if="${myApplication != null && myApplication.getPriority() != null && myApplication.getPriority().equals('7')}" value="7" selected="selected">7</option>
                            <option th:if="${myApplication != null && myApplication.getPriority() != null && !myApplication.getPriority().equals('7')}" value="7">7</option>
                            <option th:if="${myApplication != null && myApplication.getPriority() != null && myApplication.getPriority().equals('8')}" value="8" selected="selected">8</option>
                            <option th:if="${myApplication != null && myApplication.getPriority() != null && !myApplication.getPriority().equals('8')}" value="8">8</option>
                            <option th:if="${myApplication != null && myApplication.getPriority() != null && myApplication.getPriority().equals('9')}" value="9" selected="selected">9</option>
                            <option th:if="${myApplication != null && myApplication.getPriority() != null && !myApplication.getPriority().equals('9')}" value="9">9</option>
                            <option th:if="${myApplication != null && myApplication.getPriority() != null && myApplication.getPriority().equals('10')}" value="10" selected="selected">10</option>
                            <option th:if="${myApplication != null && myApplication.getPriority() != null && !myApplication.getPriority().equals('10')}" value="10">10</option>
                            <option th:if="${myApplication == null || myApplication.getPriority() == null}" value="" selected="selected">Select Priority</option>
                            <option th:if="${myApplication == null || myApplication.getPriority() == null}" value="1">1</option>
                            <option th:if="${myApplication == null || myApplication.getPriority() == null}" value="2">2</option>
                            <option th:if="${myApplication == null || myApplication.getPriority() == null}" value="3">3</option>
                            <option th:if="${myApplication == null || myApplication.getPriority() == null}" value="4">4</option>
                            <option th:if="${myApplication == null || myApplication.getPriority() == null}" value="5">5</option>
                            <option th:if="${myApplication == null || myApplication.getPriority() == null}" value="6">6</option>
                            <option th:if="${myApplication == null || myApplication.getPriority() == null}" value="7">7</option>
                            <option th:if="${myApplication == null || myApplication.getPriority() == null}" value="8">8</option>
                            <option th:if="${myApplication == null || myApplication.getPriority() == null}" value="9">9</option>
                            <option th:if="${myApplication == null || myApplication.getPriority() == null}" value="10">10</option>
                        </select>
                    </div>
                </div>
            </div>
            <div th:case="'Logical Server'">
                <h4>Server Information</h4>
                <hr>
                <div class="form-group row">
                    <label for="backupServ" class="col-sm-2 col-form-label">Backup Server</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{backUpServer}"  class="form-control" id="backupServ" th:value="${logicalServer != null} ? ${logicalServer.getBackUp()} : ''">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="monitored" class="col-sm-2 col-form-label">Monitored</label>
                    <div class="col-sm-10">
                        <select id="monitored" th:field="*{serverMonitored}" class="form-control">
                            <option value="1" th:if="${logicalServer != null &&logicalServer.isMonitored()!= null && logicalServer.isMonitored() == true}" selected="selected">Yes</option>
                            <option value="1" th:if="${logicalServer != null &&logicalServer.isMonitored()!= null && logicalServer.isMonitored() == false}">Yes</option>
                            <option value="0" th:if="${logicalServer != null &&logicalServer.isMonitored()!= null && logicalServer.isMonitored() == false}" selected="selected">No</option>
                            <option value="0" th:if="${logicalServer != null &&logicalServer.isMonitored()!= null && logicalServer.isMonitored() == true}">No</option>
                            <option value="" th:if="${logicalServer == null || logicalServer.isMonitored() == null}" selected="selected" hidden>Select Monitored</option>
                            <option value="1" th:if="${logicalServer == null || logicalServer.isMonitored() == null}">Yes</option>
                            <option value="0" th:if="${logicalServer == null || logicalServer.isMonitored() == null}">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="respGroup" class="col-sm-2 col-form-label">Responsible Group</label>
                    <div class="col-sm-10">
                        <select id="respGroup" th:field="*{respGroup}" class="form-control">
                            <option th:each="des_org : ${allOrgs}" th:if="${logicalServer != null && logicalServer.getRespGroup() != null && des_org.equals(logicalServer.getRespGroup())}" th:value="${des_org}" selected="selected" th:text="${des_org}"></option>
                            <option th:each="des_org : ${allOrgs}" th:if="${logicalServer!= null && logicalServer.getRespGroup() != null && !des_org.equals(logicalServer.getRespGroup())}" th:value="${des_org}" th:text="${des_org}"></option>
                            <option th:if="${logicalServer == null || logicalServer.getRespGroup() == null}" value="" selected="selected" hidden>Select Responsible Group</option>
                            <option th:if="${logicalServer == null || logicalServer.getRespGroup() == null}" th:each="des_org : ${allOrgs}" th:value="${des_org}" th:text="${des_org}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div th:case="'Environment'">
                <h4>Environment Information</h4>
                <hr>
                <div class="form-group row">
                    <label for="envSubType" class="col-sm-2 col-form-label">Environment Subtype</label>
                    <div class="col-sm-10">
                        <select id="envSubType" th:field="*{envSubtype}" class="form-control">
                            <option th:if="${environment != null && environment.getSubType() != null && environment.getSubType().equals('Virtual Server')}" selected="selected" value="Virtual Server">Virtual Server</option>
                            <option th:if="${environment != null && environment.getSubType() != null && !environment.getSubType().equals('Virtual Server')}" value="Virtual Server">Virtual Server</option>
                            <option th:if="${environment != null && environment.getSubType() != null && environment.getSubType().equals('Virtual Machine')}" selected="selected" value="Virtual Machine">Virtual Machine</option>
                            <option th:if="${environment != null && environment.getSubType() != null && !environment.getSubType().equals('Virtual Machine')}" value="Virtual Machine">Virtual Machine</option>
                            <option th:if="${environment != null && environment.getSubType() != null && environment.getSubType().equals('Alias')}" selected="selected" value="Alias">Alias</option>
                            <option th:if="${environment != null && environment.getSubType() != null && !environment.getSubType().equals('Alias')}" value="Alias">Alias</option>
                            <option th:if="${environment == null || environment.getSubType() == null}" value="" selected="selected" hidden>Select Environment Subtype</option>
                            <option th:if="${environment == null || environment.getSubType() == null}" value="Virtual Server">Virtual Server</option>
                            <option th:if="${environment == null || environment.getSubType() == null}" value="Virtual Machine">Virtual Machine</option>
                            <option th:if="${environment == null || environment.getSubType() == null}" value="Alias">Alias</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="envBackUp" class="col-sm-2 col-form-label">Backup Server</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{envBackup}" class="form-control" id="envBackUp" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="envMonitored" class="col-sm-2 col-form-label">Monitored</label>
                    <div class="col-sm-10">
                        <select id="envMonitored" th:field="*{envMonitored}" class="form-control">
                            <option value="1" th:if="${environment != null &&environment.isMonitored()!= null && environment.isMonitored() == true}" selected="selected">Yes</option>
                            <option value="1" th:if="${environment != null &&environment.isMonitored()!= null && environment.isMonitored() == false}">Yes</option>
                            <option value="0" th:if="${environment != null &&environment.isMonitored()!= null && environment.isMonitored() == false}" selected="selected">No</option>
                            <option value="0" th:if="${environment != null &&environment.isMonitored()!= null && environment.isMonitored() == true}">No</option>
                            <option value="" th:if="${environment == null || environment.isMonitored() == null}" selected="selected" hidden>Select Monitored</option>
                            <option value="1" th:if="${environment == null || environment.isMonitored() == null}">Yes</option>
                            <option value="0" th:if="${environment == null || environment.isMonitored() == null}">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="envRespGroup" class="col-sm-2 col-form-label">Responsible Group</label>
                    <div class="col-sm-10">
                        <select id="envRespGroup" th:field="*{envRespGroup}" class="form-control">
                            <option th:each="des_org : ${allOrgs}" th:if="${environment != null && environment.getRespGroup() != null && des_org.equals(environment.getRespGroup())}" th:value="${des_org}" selected="selected" th:text="${des_org}"></option>
                            <option th:each="des_org : ${allOrgs}" th:if="${environment!= null && environment.getRespGroup() != null && !des_org.equals(environment.getRespGroup())}" th:value="${des_org}" th:text="${des_org}"></option>
                            <option th:if="${environment == null || environment.getRespGroup() == null}" value="" selected="selected" hidden>Select Responsible Group</option>
                            <option th:if="${environment == null || environment.getRespGroup() == null}" th:each="des_org : ${allOrgs}" th:value="${des_org}" th:text="${des_org}"></option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <input type="submit" class="btn btn-primary" id="editCollecSubmit" value="Edit"/>
            <a class="btn btn-dark" th:href="@{/view(id=${collID})}" >Cancel</a>
        </div>

        <!--Below is the regular input without readonly-->
        <!--<div class="form-group row">-->
        <!--<label for="inputPassword" class="col-sm-2 col-form-label">Password</label>-->
        <!--<div class="col-sm-10">-->
        <!--<input type="password" class="form-control" id="inputPassword" placeholder="Password">-->
        <!--</div>-->
        <!--</div>-->
    </form>

</div>

<!--Contacts Modal-->
<div class="contactFormModal">
    <form th:action="@{/saveContacts}" method="post">
        <div class="modal fade" id="contactsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="contactsModalLabel">Add Contact</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <h1 id="contactErrorMsg" style="color: red; display: none;">Please check your input</h1>
                        </div>

                        <div class="form-group">
                            <label for="userContact" class="col-form-label">USER</label>
                            <label id="userContact" hidden></label>
                            <input type="text" class="form-control" id="contactName" name="username" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="contactType" class="col-form-label">Contact Type</label>
                            <select id="contactType" class="form-control">
                                <option selected="selected" hidden value=""><i>Choose here</i></option>
                                <option value="Cell">Cell</option>
                                <option value="Home">Home</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="contactPhone" class="col-form-label">Phone Number</label>
                            <input type="text" class="form-control" id="contactPhone" value="" name="phoneNumber">
                        </div>
                        <div class="form-group">
                            <label for="contactLocation" class="col-form-label">Location</label>
                            <input type="text" class="form-control" id="contactLocation" name="contactLocation" value=""/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Save" id="contactSaveModal" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!--Confirm delete contact-->

<div class="delContactSub">
    <form >
        <div class="modal fade" id="confirmDelCont" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" >Delete Contact</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <b><p id="deleteConfirmText" ></p></b>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <a type="submit" class="btn btn-danger"  id="deleteConConfirm">Confirm Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<!--Vendor Product Modal-->

<div class="myForm">
    <form th:action="@{/}" method="post">
        <div class="modal fade" id="vendorLoadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="vendorLoadLabel">Add Vendor Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <h1 id="venErrorMsg" style="color: red; display: none;">Please check your input</h1>
                        </div>

                        <div class="form-group">
                            <label for="vendorName" class="col-form-label">Product Name</label>
                            <label id="vendorID" hidden></label>
                            <input type="text" class="form-control" id="vendorName" name="username" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="vendorVersion" class="col-form-label">Version</label>
                            <input type="text" class="form-control" id="vendorVersion" name="username" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="vendorDescription" class="col-form-label">Description</label>
                            <textarea rows="4" cols="50" class="form-control" id="vendorDescription" ></textarea>
                        </div>
                        <div class="form-group">
                            <label for="vendorClassified" class="col-form-label">Version</label>
                            <select id="vendorClassified" class="form-control">
                                <option selected="selected" hidden value="">Choose here</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Save" id="submitVendor" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!--Confirm delete vendor-->

<div class="delVendorSub">
    <form >
        <div class="modal fade" id="confirmDelVen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" >Delete Vendor Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <b><p id="deleteConfirmVen" ></p></b>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <a type="submit" class="btn btn-danger"  id="deleteVenConfirm">Confirm Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!--Subobjects-->
<div class="myForm">
    <form th:action="@{/}" method="post">
        <div class="modal fade" id="subObjectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="subObjLabel">Add SubObject</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <h1 id="subErrorMsg" style="color: red; display: none;">Please check your input</h1>
                        </div>
                        <div class="form-group">
                            <label for="subObjType" class="col-form-label">Type</label>
                            <select id="subObjType" class="form-control">
                                <option selected="selected" hidden value="">Choose here</option>
                                <option value="Alias">Alias</option>
                                <option value="Application Account">Application Account</option>
                                <option value="Database Instance">Database Instance</option>
                                <option value="Schema">Schema</option>
                                <option value="URL">URL</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="subObjName" class="col-form-label">Name</label>
                            <label id="subObjID" hidden></label>
                            <input type="text" class="form-control" id="subObjName" name="username" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="subObjVers" class="col-form-label">Version</label>
                            <input type="text" class="form-control" id="subObjVers" name="username" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="subObjClassified" class="col-form-label">Classified Information</label>
                            <select id="subObjClassified" class="form-control">
                                <option selected="selected" hidden value="">Choose here</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Save" id="saveSubObj" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!--Confirm delete subobject-->

<div class="delVendorSub">
    <form >
        <div class="modal fade" id="confirmDelSub" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" >Delete SubObject</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <b><p id="deleteConfirmSub" ></p></b>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <a type="submit" class="btn btn-danger"  id="deleteSubConfirm">Confirm Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!--//Relationship Modal-->

<div class="relationshipForm">
    <form th:action="@{/}" method="post">
        <div class="modal fade" id="relationshipModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="relationshipModalLabel">Add Relationship</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="relationshipTypes" class="col-form-label">Type</label>
                            <select id="relationshipTypes" class="form-control">
                                <option selected="selected" hidden value="">Choose here</option>
                                <option value="From Service Type">From Service Type</option>
                                <option value="From SubObject">From SubObject</option>
                                <option value="To Collection">To Collection</option>
                                <option value="To Collection Type">To Collection Type</option>
                                <option value="To SubObject">To SubObject</option>
                                <option value="To Service Type">To Service Type</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="relationshipValue" class="col-form-label"></label>
                            <input type="text" class="form-control" id="relationshipValue" value=""/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="save"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!--Confirm delete relationship-->

<div class="delRelationship">
    <form >
        <div class="modal fade" id="confirmDelRel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" >Delete Relationship</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <b><p id="deleteConfirmRel" ></p></b>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <a type="submit" class="btn btn-danger"  id="deleteRelConfirm">Confirm Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!--Editor Modal-->
<div class="editorModal">
    <form th:action="@{/}" method="post">
        <div class="modal fade" id="theEditorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editorModalLabel">Add Editor</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="editorName" class="col-form-label">Name</label>
                            <label id="editorNameID" hidden></label>
                            <input type="text" class="form-control" id="editorName" name="organization" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="editorAccessLvl" class="col-form-label">Access Level</label>
                            <input type="password" class="form-control" id="editorAccessLvl" name="password" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="editorPhoneNum" class="col-form-label">Phone Number</label>
                            <input type="password" class="form-control" id="editorPhoneNum" name="password" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="editorLocation" class="col-form-label">Location</label>
                            <input type="password" class="form-control" id="editorLocation" name="password" value=""/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="save"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!--Confirm delete subobject-->

<div class="delEditor">
    <form >
        <div class="modal fade" id="confirmDelEditor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" >Delete Editor</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <b><p id="deleteConfirmEditor" ></p></b>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <a type="submit" class="btn btn-danger"  id="deleteEditConfirm">Confirm Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


</body>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/scripts/EditCollection.js}"></script>
</html>
