<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">
    <!--<style>-->
        <!--table {-->
            <!--font-family: arial, sans-serif;-->
            <!--border-collapse: collapse;-->
            <!--width: 100%;-->
        <!--}-->

        <!--td, th {-->
            <!--border: 1px solid #dddddd;-->
            <!--text-align: left;-->
            <!--padding: 8px;-->
        <!--}-->

        <!--tr:nth-child(even) {-->
            <!--background-color: #dddddd;-->
        <!--}-->
    <!--</style>-->
</head>

<body>

<div class="container">


    <th:block th:include="/_menu"></th:block>

    <h2><span th:utext="${message}"></span></h2>

    <table style="width:100%">
        <tr>
            <th>Full Name</th>
            <th>Acronym</th>
            <th>Type</th>
            <th>Status</th>
        </tr>
        <tr th:each="collection : ${collections}">\
            <td th:text="${collection.getFullName()}"></td>
            <td th:text="${collection.getAccronym()}"></td>
            <td th:text="${collection.getCollecType()}"></td>
            <td th:text="${collection.getStatus()}"></td>
        </tr>
    </table>

    <a th:class="button" th:href="@{/add}">Go to Add Collection</a>

</div>
</body>
</html>