<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/css/login.css}" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/login.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
</head>

<body class="align">
    


    <h1>CMIS Login</h1>

    <!-- /login?error=true -->
    <div th:if="${#request.getParameter('error') == 'true'}" style="color:red;margin:10px 0px;">
        Login Failed!!!<br />
        Reason :
        <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}" th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
            Static summary
        </span>

    </div>


    <div class="grid">
        <form class="form login" name='f' th:action="@{/j_spring_security_check}" method='POST'>
            <div class="form-field">

                <label for="login-username">
                    <i class="fas fa-user"></i>
                    <span class="hidden">Username</span>
                </label>
                <input id="login-username" class="form-input" type='text' name='username' placeholder="Username"
                    required="">
            </div>
            <div class="form-field">
                <label for="login-password">
                    <i class="fas fa-lock"></i>
                    <span class="hidden">Password</span>
                </label>
                <input id="login-password" class="form-input" type='password' name='password' placeholder="Password"
                    required="">
            </div>

            <div class="form-field">
                <input value="Sign In" type="submit" name="submit">
            </div>
        </form>
    </div>

    <div style="padding: top 1em;">
    <br>
    Username/pass:
    <ul>
        <li>William/123</li>
        <li>Jennifer/123</li>
        <li>Emily/123</li>
    </ul>
    </div>


</body>

</html>