<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Collection</title>
    <th:block th:include="/_menu"></th:block>
</head>
<body style="padding-bottom: 40px">
    <div class="container" >
        <form>
            <h3>Collection</h3>
            <hr>
            <div class="form-group row">
                <label for="fullName" class="col-sm-2 col-form-label">Full Name</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="fullName" th:value="${highlevel.getFullName()}">
                </div>
            </div>
            <div class="form-group row">
                <label for="acronym" class="col-sm-2 col-form-label">Acronym</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="acronym" th:value="${highlevel.getAccronym()}">
                </div>
            </div>
            <div class="form-group row">
                <label for="type" class="col-sm-2 col-form-label">Collection Type</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="type" th:value="${highlevel.getCollecType()}">
                </div>
            </div>
            <div class="form-group row">
                <label for="status" class="col-sm-2 col-form-label">Status</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="status" th:value="${highlevel.getStatus()}">
                </div>
            </div>
            <div class="form-group row">
                <label for="backUp" class="col-sm-2 col-form-label">Backup Server</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="backUp" th:value="${highlevel.getBackUP()}">
                </div>
            </div>
            <div class="form-group row">
                <label for="serviceType" class="col-sm-2 col-form-label">Service Type Provided</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="serviceType" th:value="${highlevel.getServiceType()}">
                </div>
            </div>
            <div class="form-group row">
                <label for="organization" class="col-sm-2 col-form-label">Organization</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="organization" th:value="${collecOrg}">
                </div>
            </div>
            <div class="form-group row">
                <label for="desOrganization" class="col-sm-2 col-form-label">Design Agency Organization</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="desOrganization" th:value="${collecDesOrg}">
                </div>
            </div>
            <h4>General</h4>
            <hr>
            <div class="form-group row">
                <label for="userPop" class="col-sm-2 col-form-label">User Population</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="userPop" th:value="${general != null } ? ${general.getUserPop()} : ''">
                </div>
            </div>
            <div class="form-group row">
                <label for="primCustomer" class="col-sm-2 col-form-label">Primary Customer</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="primCustomer" th:value="${general != null } ? ${general.getPrimaryCustomer()}: ''">
                </div>
            </div>
            <div class="form-group row">
                <label for="subContMaint" class="col-sm-2 col-form-label">Subcontractor Maintainer</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="subContMaint" th:value="${general != null } ? ${general.getSubcontMaintainer()} : ''">
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    <textarea rows="4" cols="50" readonly class="form-control-plaintext" id="description" th:text="${general != null } ? ${general.getDescription()} : ''"></textarea>
                </div>
            </div>
            <h4>Controls/Impacts</h4>
            <hr>
            <div class="form-group row">
                <label for="funcClass" class="col-sm-2 col-form-label">Function class</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="funcClass" th:value="${controlsImpacts != null } ? ${controlsImpacts.getFunctionClass()} : ''">
                </div>
            </div>
            <div class="form-group row">
                <label for="dataClass" class="col-sm-2 col-form-label">Data Classification</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="dataClass" th:value="${controlsImpacts != null } ? ${controlsImpacts.getDataClass()} : ''">
                </div>
            </div>
            <div class="form-group row">
                <label for="missRating" class="col-sm-2 col-form-label">Mission Essential Rating</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="missRating" th:value="${controlsImpacts != null } ? ${controlsImpacts.getMissEssRating()} : ''">
                </div>
            </div>

            <h4>Contacts</h4>
            <hr>
            <div class="form-group row">
                <label for="aUserID" class="col-sm-2 col-form-label">UserId</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="aUserID" value="">
                </div>
            </div>
            <div class="form-group row">
                <label for="aName" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="aName" value="">
                </div>
            </div>
            <div class="form-group row">
                <label for="contType" class="col-sm-2 col-form-label">Contact Type</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="contType" value="">
                </div>
            </div>
            <div class="form-group row">
                <label for="phoneNum" class="col-sm-2 col-form-label">Phone Number</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="phoneNum" value="">
                </div>
            </div>
            <div class="form-group row">
                <label for="location" class="col-sm-2 col-form-label">Location</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="location" value="">
                </div>
            </div>

            <h4>Vendor Products</h4>
            <hr>
            <div class="form-group row">
                <label for="aProductName" class="col-sm-2 col-form-label">Product Name</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="aProductName" value="">
                </div>
            </div>
            <div class="form-group row">
                <label for="aVersion" class="col-sm-2 col-form-label">Version</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="aVersion" value="">
                </div>
            </div>
            <div class="form-group row">
                <label for="prodDesc" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    <textarea rows="4" cols="50" readonly class="form-control-plaintext" id="prodDesc"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="classInfo" class="col-sm-2 col-form-label">Classified Information</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="classInfo" value="">
                </div>
            </div>

            <h4>SubObjects</h4>
            <hr>
            <div class="form-group row">
                <label for="subObjType" class="col-sm-2 col-form-label">Type</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="subObjType" value="">
                </div>
            </div>
            <div class="form-group row">
                <label for="subObjName" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="subObjName" value="">
                </div>
            </div>
            <div class="form-group row">
                <label for="subObjVers" class="col-sm-2 col-form-label">Version</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="subObjVers" value="">
                </div>
            </div>
            <div class="form-group row">
                <label for="subObjClass" class="col-sm-2 col-form-label">Classified Information</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="subObjClass" value="">
                </div>
            </div>

            <h4>Relationships</h4>
            <hr>
            <div class="form-group row">
                <label for="aUserID" class="col-sm-2 col-form-label">UserId</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="aUserID" value="">
                </div>
            </div>

            <h4>Editors</h4>
            <hr>
            <div class="form-group row">
                <label for="aUserID" class="col-sm-2 col-form-label">UserId</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="aUserID" value="">
                </div>
            </div>

            <div id="specific" th:switch="${collType}">
                <div th:case="'Instance Application'">
                    <h4>Application Information</h4>
                    <hr>
                    <div class="form-group row">
                        <label for="aSubType" class="col-sm-2 col-form-label">Subtype</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="aSubType" th:value="${myApplication != null} ? ${myApplication.getSubType()} : ''">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="aUI" class="col-sm-2 col-form-label">User Interface</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="aUI" th:value="${myApplication != null} ? ${myApplication.getUserInterface()} : ''">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="aAppSize" class="col-sm-2 col-form-label">Application Size</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="aAppSize" th:value="${myApplication != null} ? ${myApplication.getSize()} : ''">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="totUsers" class="col-sm-2 col-form-label">Total Users</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="totUsers" th:value="${myApplication != null} ? ${myApplication.getTotalUsers()} : ''">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="totConcUsers" class="col-sm-2 col-form-label">Total Concurrent Users</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="totConcUsers" th:value="${myApplication != null} ? ${myApplication.getConcUsers()} : ''">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="priority" class="col-sm-2 col-form-label">Priority</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="priority" th:value="${myApplication != null} ? ${myApplication.getPriority()} : ''">
                        </div>
                    </div>
                </div>
                <div th:case="'Logical Server'">
                    <h4>Server Information</h4>
                    <hr>
                    <div class="form-group row">
                        <label for="backupServ" class="col-sm-2 col-form-label">Backp Server</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="backupServ" th:value="${logicalServer != null} ? ${logicalServer.getBackUp()} : ''">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="monitored" class="col-sm-2 col-form-label">Monitored</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="monitored" th:value="${logicalServer != null} ? ${logicalServer.isMonitored()} : ''">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="respGroup" class="col-sm-2 col-form-label">Responsible Group</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="respGroup" th:value="${logicalServer != null} ? ${logicalServer.getRespGroup()} : ''">
                        </div>
                    </div>
                </div>
                <div th:case="'Environment'">
                    <h4>Environment Information</h4>
                    <hr>
                    <div class="form-group row">
                        <label for="envSubType" class="col-sm-2 col-form-label">Environment Subtype</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="envSubType" th:value="${environment != null } ? ${environment.getSubType()} : ''">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="envBackUp" class="col-sm-2 col-form-label">Backup Server</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="envBackUp" th:value="${environment != null } ? ${environment.getBackUp()} : ''">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="envMonitored" class="col-sm-2 col-form-label">Monitored</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="envMonitored" th:value="${environment != null } ? ${environment.isMonitored()} : ''">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="envRespGroup" class="col-sm-2 col-form-label">Responsible Group</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="envRespGroup" th:value="${environment != null } ? ${environment.getRespGroup()} : ''">
                        </div>
                    </div>
                </div>

            </div>

            <!--Below is the regular input without readonly-->
            <!--<div class="form-group row">-->
                <!--<label for="inputPassword" class="col-sm-2 col-form-label">Password</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<input type="password" class="form-control" id="inputPassword" placeholder="Password">-->
                <!--</div>-->
            <!--</div>-->
        </form>

    <a class="btn btn-info" th:if="${userRole == 'Admin' || (userRole == 'Manager' && fullUser.getOrganization().equals(collecOrg)) || (userRole == 'Developer' && fullUser.getOrganization().equals(collecOrg))}" th:href="@{/edit(id=${collID})}">Edit</a>
    <a class="btn btn-danger delBtn" th:if="${userRole == 'Admin' || (userRole == 'Manager' && fullUser.getOrganization().equals(collecOrg))}"  th:href="@{/delete(id=${collID})}" >Delete</a>
    </div>
    
    <div class="deleteSubmit">
        <form >
            <div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Delete User</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <b><p id="confirmText" ></p></b>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <a type="submit" href="/home" class="btn btn-danger deleteConBtn"  id="delteConfirm">Confirm Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
   </div>



</body>
    
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/scripts/ViewCollection.js}"></script>
    
</html>
